.myForm{
	border: 1px solid #ddd;
	margin: 20% 0;
	padding: 30px;
	background-color: #fafafa;
	border-radius: 10px;
	color:#555;
}
h2{
	margin-bottom: 20px;
	text-align: center;
}
hr{
	border-color: #ccc;
	margin-bottom: 50px;
}
.form-group{
	margin-bottom: 30px;
}
label{
	margin-bottom: 15px;
	font-size: 18px;
}
.btn{
	margin-bottom: 30px;
}