<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 col-md-push-4">
			
			<div class="myForm">
				<h2>Search For Hotel</h2>
				<hr>
				<form (ngSubmit)="hotelSearch(myForm)" #myForm="ngForm" novalidate>
				    <div class="form-group">
						<label class="control-label">From: </label>
						<my-date-picker  name="start" [(ngModel)]="startDate" [options]="myDatePickerOptions" placeholder="start date" required></my-date-picker>
						
					</div>
				
					<div class="form-group">
						<label class="control-label">To: </label>
						<my-date-picker  name="end" [(ngModel)]="endDate" [options]="myDatePickerOptions" placeholder="end date" required></my-date-picker>
					</div>
				
					<button class="btn btn-info btn-lg btn-block" [disabled]="!myForm.valid">Search</button>
				</form>
			</div>
		
		</div>
	</div>
</div>
