/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~nouislider/distribute/nouislider.min.css";

.ng2-nouislider{
  margin-bottom: 30px !important;
}
.noUi-horizontal{
  height: 6px !important;
}
.noUi-target{
	background: #aaa;
	border-width: 0px;
}
.noUi-connect{
  background: #aaa;
  box-shadow: none;
}
.noUi-horizontal .noUi-handle{
  width: 30px;
  height: 30px;
  top: -11px;
}
.noUi-handle{
	box-shadow: none;
	border-radius: 50%;
	background-color: #31b0d5;
	border-color: #31b0d5;
}
.noUi-handle::after, .noUi-handle::before{
  height: 0;
  width: 0;
}